<h1>Bustle Clone Ideas</h1>

{{#each model as |post|}}
  By {{post.owner}}  <br>{{post.head}}, <br>
  {{post-tile post=post }}
  <h2>{{post.snippet}}</h2> <br>
  <h4>{{post.body}}</h4> <br>
  <p>
    <img src={{post.image}} alt=":(" />
  </p>
  {{new-post savePost="savePost"}}
{{/each}}
